{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/password_reset_email.css' %}">

{% blocktrans %}Greetings{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},
<br> 
<br> 
<br>  
{% blocktrans %}
You are receiving this email because you (or someone pretending to be you)
requested that your password be reset on the swipetuto-dev.herokuapp.com site. If you do not
wish to reset your password, please ignore this message.
{% endblocktrans %}
<br> 
<br> 
<br> 
{% blocktrans %}
To reset your password, please click the following link, or copy and paste it
into your web browser:
{% endblocktrans %}

<br> 
<br> 
<br> 

{{ protocol }}://swipetuto-dev.herokuapp.com/account/password/reset/confirm/{{ uid }}/{{ token }}
<br> 
<br> 
<br> 

{% blocktrans %}Your username, in case you've forgotten:{% endblocktrans %} {{ user.get_username }}

<br> 
<br> 
<br> 
{% blocktrans %}Best regards{% endblocktrans %},
{{ request.user}} {% blocktrans %}Management{% endblocktrans %}
